/dataset
dataset.pkl
training_data.pkl
testing_data.pkl
__pycache__
/code/__pycache__
/code/.vs
Work status Feb 25_2021.docx
Work status March 1_2021.docx
/code/model.h5
/code/model_98.h5
/code/model_200_with_50epoch.h5
/code/model_200.h5
/code/.vs